# dependencies
/node_modules

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo

# env files (can opt-in for committing if needed)
.env*

# production
/build
/dist

# vercel
.vercel

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
